// MIXINS
 
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  {prop} args
 
animation()
  vendor('animation', arguments)
 
border-radius()
  vendor('border-radius', arguments)
 
border-top-radius() 
  vendor('border-top-left-radius', arguments)
  vendor('border-top-right-radius', arguments)
 
border-top-radius() 
  vendor('border-bottom-left-radius', arguments)
  vendor('border-bottom-right-radius', arguments)
 
linear-gradient(start_color, end_color, start = left top, end = left bottom)
  mozstart = top if start = left top
  background start_color
  background -moz-linear-gradient(mozstart, start_color 0%, end_color 100%)
  background -webkit-gradient(linear, start, end, color-stop(0%, start_color), color-stop(100%, end_color))
  -webkit-background-origin padding-box
 
background-clip()
  vendor('background-clip', arguments)
 
box-shadow() 
  -moz-box-shadow arguments
  -webkit-box-shadow arguments
  box-shadow arguments
 
box(orient, pack, align) 
  display -webkit-box
  display -moz-box
  display box
  vendor('box-orient', orient)
  vendor('box-pack', pack)
  vendor('box-align', align)
  vendor('box-lines', multiple)
 
box_flex()
  vendor('box-flex', arguments)
 
text-fill-color()
  vendor('text-fill-color', arguments)
 
transition()
  vendor('transition', arguments)
 
transform()
  vendor('transform', arguments)

.pg-index {
    .body {
        position:relative;
        margin:60px auto 50px;
        width:500px;
    }
    .content {
        position:relative;
    }
    .axis {
        position:absolute;
        top:-10px;
        bottom:80px;
        width:0;
        left:-30px;
        border-right:2px solid #AAA;
        transform:scale(1, 0);
        -webkit-transform:scale(1, 0);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
    .axis--anim {
        transform:scale(1, 1);
        -webkit-transform:scale(1, 1);
        transition:transform .5s 2s linear;
        -webkit-transition:-webkit-transform .5s 2s linear;
    }
    .blog {
        border-bottom:2px solid #F7F7F7;
        padding:0 0 50px;
        margin:0 0 50px;
        transform:scale(1, 0);
        -webkit-transform:scale(1, 0);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
    .blog--anim {
        transform:scale(1, 1);
        -webkit-transform:scale(1, 1);
        transition:transform .3s 1.5s linear;
        -webkit-transition:-webkit-transform .3s 1.5s linear;
    }
    .blog__time {
        position:relative;
        margin-left:-30px;
        a {
            float: left;
            box-sizing: content-box;
            margin-left:10px;
            padding:3px 5px 3px 0;
            height: 14px;
            font-size: 12px;
            color:#948C76;
            background:#F7F3EE;
            transition:margin-left .2s ease,background .2s ease;
            -webkit-transition:margin-left .2s ease,background .2s ease;

            .arrow {
                float: left;
                margin:-3px -1px 0 0;
                border: 10px dashed #FFF;
                border-right: 10px solid #F7F3EE;
                width: 0;
                height: 0;
                background: #fff;
                transition:border .2s ease;
            }

            &:hover {
                margin-left:3px;
                background:#E7D9BA;
                .arrow {
                    border-right-color:#E7D9BA;
                }
            }
        }

        &:before {
            position:absolute;
            content:"";
            border:2px solid #aaa;
            border-radius 9px;
            width:9px;
            height:9px;
            z-index:10;
            top:5px;
            left:-3px;
            background:#FFF;
        }
    }
    .blog__cont {
        clear:both;
        margin-bottom:20px;
        font-size:14px;
        color:#777;
        .text {
            line-height:2em;
        }

        .title {
            border-bottom:none;
        }
    }
    .blog__info {
        margin-bottom:20px;
    }

    .blog__info,
    .blog__tag {
        font-size:14px;
        color:#BCBCBC;
        a {
            display: inline-block;
            border-radius 5px;
            padding:3px 5px;
            margin-right:5px;
            font-size:14px;
            color:#BCBCBC;

            &:hover {
                color:#CF492E;
                background:#ecf0f1;
            }
        }
    }
}
