.pg-music {
    background:#ECF0F1;
    .body {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:320px;
    }

    .back-link {
        font-size:16px;
        position:fixed;
        top:20px;
        left:20px;
        color:#27AE60;
    }

    .music-info {
        position:absolute;
        top:50%;
        left:50%;
        margin:-150px 0 0 -150px;
        width:300px;

        .description {
            line-height:1.5em;
            height:4.5em;
            overflow:hidden;
            text-overflow:ellipsis;
        }

        .cover {
            border-radius:200px;
            width:300px;
            height:300px;
            box-shadow:0 0 0 8px #FFF, 0px 0px 10px 12px #999;
            cursor:pointer;
        }

        .status {
            position:absolute;
            top:150px;
            left:150px;
            display:block;
            margin:-35px 0 0 -35px;
            border:3px solid;
            border-radius:40px;
            width:70px;
            height:70px;
            text-align:center;
            line-height:70px;
            font-size:40px;
            color:#FFF;
            cursor:pointer;
        }

        .status-wrapper {
            position:absolute;
            top:150px;
            left:150px;
            margin:-50px 0 0 -50px;
            border-radius:50px;
            width:100px;
            height:100px;
            opacity:0;
            transform:scale(0);
            -webkit-transform:scale(0);
        }

        .status-wrapper--anim {
            animation:scale .5s ease-in-out forwards;
            -webkit-animation:scale .5s ease-in-out forwards;
        }

        .status--pause {
            padding-left:10px;
        }

        .title {
            text-align:center;
            font-size:18px;
        }

        .description {
            text-align:center;
            font-size:14px;
        }
    }
    .music-list-wrapper {
        position:fixed;
        top:20px;
        right:20px;

        .trigger {
            float:right;
            font-size:32px;
            color:#2c3e50;
        }
    }
    .music-list {
        clear:both;
        padding:0;
        list-style:none;
        font-size:14px;
        color:#ecf0f1;
        background:#34495e;
        opacity:0;
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
        transform:scale(1,0);
        -webkit-transform:scale(1,0);
        transition:transform .3s ease-in-out, opacity .3s ease-in-out;
        -webkit-transition:transform .3s ease-in-out, opacity .3s ease-in-out;

        li {
            border-bottom:1px solid #2c3e50;
            padding:10px 5px;
            cursor:pointer;
            box-shadow:inset 0 1px 10px 0px #2c3e50;
            &.active {
                background: #f39c12;
                box-shadow: inset 0 1px 10px 0 #f1c40f;
            }
        }

        .music__title {
            margin:0;
            font-size:14px;
            color:#ecf0f1;
        }

        .extra {
            margin:0 0 0 10px;

            p {
                margin:0;
                height:0;
                opacity:0;
            }
        }
    }

    .music-list--expand {
        opacity:1;
        transform:scale(1,1);
        -webkit-transform:scale(1,1);
    }

    .active .extra p {
        margin:5px 0;
        height:14px;
        opacity:1;
        transition:height .3s ease, opacity .3s ease, margin .3s ease;
    }

    .tool-trigger,
    .tool-wrapper {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    .tool-wrapper {
        right: 80px;
    }
    
    .tool-trigger,
    .tool {
        font-size: 26px;
        background: #e74c3c;
        border-radius: 50%;
        padding: 13px 16px;
        margin-right:10px;
        color: #ecf0f1;
        cursor:pointer;
    }

    .tool-trigger {
        color: #e74c3c;
        background: transparent;
        font-size: 60px;
        padding: 0;
        margin-bottom: -6px;
    }


    .fa-fast-forward,
    .fa-forward {
        padding: 13px 10px 13px 16px;
    }
    
}
