<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Cambo' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/animation.css' />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript"></script>
        <script src="/javascripts/animation.js"></script>
    </head>
    <body class="pg-animation">
        <div class="slider-container">
            <div class="slider slider--step1">
                <p class="name">YUI Animation</p>
                <p class="connect">VS</p>
                <p class="name">CSS3 Animation</p>
            </div>
            <div class="slider slider--step2">
                <h1 class="slider__title">what is the animation</h1>
                <div class="slider__content slider__content--alone">
                    <p class="basic-info">An animation is a moving picture</p>
                    <ul class="more-info">
                        <span class="title">Keywords:</span>
                        <li class="feature">Status:[frome, to]</li>
                        <li class="feature">Timing function:[ease | cubic-bizer]</li>
                        <li class="feature">duration: [time]</li>
                    </ul>
                </div>
            </div>
            <div class="slider slider--step4">
                <h1 class="slider__title">Demo</h1>
                <div class="slider__content slider__content--alone">
                    <ul class="demo-list">
                        <li>JS:<a target="_blank" href="http://i.meituan.com/mobile/down/meituan">http://i.meituan.com/mobile/down/meituan</a></li>
                        <li>CSS3:<a target="_blank" href="http://www.zhihu.com/2013/shang-chun">http://www.zhihu.com/2013/shang-chun</a></li>
                    </ul>
                </div>
            </div>
            <div class="slider slider--step5">
                <h1 class="slider__title">How to create animation</h1>
                <div class="slider__content slider__content--alone">
                    <ul class="way-list">
                        <li class="way">How to create animation by YUI</li>
                        <li class="way">How to create animation by CSS3</li>
                    </ul>
                </div>
            </div>
            <div class="slider slider--step6">
                <h1 class="slider__title">How to create animation by YUI</h1>
                <div class="slider__content slider__content--alone">
                    <ul class="tool-list">
                        <li class="tool">YUI.Anim</li>
                        <li class="tool">YUI.Plugin.NodeFX</li>
                    </ul>
                </div>
            </div>
            <div class="slider slider--step7">
                <h1 class="slider__title">How to create animation by YUI<span class="sub">——Anim Class</span></h1>
                <div class="slider__content slider__content--alone">
                    <div class="code">
                        <p>Y.use('anim', function () {</p>
                        <p class="i1">new Y.Anim({</p>
                        <p class="i2">node: ndContainer, //container</p>
                        <p class="i2">to: {</p>
                        <p class="i3">layout || opacity || box property || background ….</p>
                        <p class="i2">},</p>
                        <p class="i2">from: {</p>
                        <p class="i3">layout || opacity || box property || background ….</p>
                        <p class="i2">},// status</p>
                        <p class="i2">duration: seconds, // duration</p>
                        <p class="i2">easing: 'ease' || 'bounce' || 'cubic-bizer' // timing-function</p>
                        <p class="i1">}).run();</p>
                        <p>});
                    </div>
                </div>
            </div>
            <div class="slider slider--step8">
                <h1 class="slider__title">How to create animation by YUI<span class="sub">——NodeFX Plugin</span></h1>
                <div class="slider__content">
                    <code>
                        ndContainer.plug(Y.Plugin.NodeFX);
                        ndContainer.fx.setAttrs(AnimConf);
                        ndContainer.fx.run();
                    </code>
                </div>
            </div>
            <div class="slider slider--step9">
                <h1 class="slider__title">Other Problems</h1>
                <div class="slider__content">
                    <div class="flow"></div>
                </div>
            </div>
            <div class="slider slider--step10">
                <h1 class="slider__title">Life-circle && Events</h1>
                <div class="slider__content">
                    <p class="evnets">start,pause,resume,end,destroy,tween</p>
                    <div class="code">
                        <p>anim1.on('end', function () {</p>
                        <p class="i1">anim2.run();</p>
                        <p>});</p>
                        <p>/*****************************/<p>
                        <p>anim1.run();</p>
                        <p>anim1.stop(true);</p>
                        <p>anim1.destroy();</p>
                    </div>
                </div>
            </div>
            <div class="slider slider--step11">
                <h1 class="slider__title">Demo</h1>
                <div class="slider__content">
                    <a class="demo-link" target="_blank" href="http://www.meituan.com/event/timemachine">http://www.meituan.com/event/timemachine</a>
                </div>
            </div>
            <div class="slider slider--step12">
                <h1 class="slider__title">CSS3 Animation</h1>
                <div class="slider__content slider__content--alone">
                    <ul class="feature-list">
                        <li class="feature">transition</li>
                        <li class="feature">-webkit-animation &&<br/> -webkit-key-frames</li>
                        <li class="featrue feature--weak">transform</li>
                    </ul>
                </div>
            </div>
            <div class="slider slider--step13">
                <h1 class="slider__title">CSS3 Animation</h1>
                <div class="slider__content">
                    <h3>transition</h3>
                    <ul class="feature-list">
                        <li class="feature">transition-property:[all | color | background | …]</li>
                        <li class="feature">transition-timing-function:[ease | ease-in | cubic-biezer function]</li>
                        <li class="feature">transition-duration:[1s | .5s]</li>
                        <li class="featrue">transition-delay:[1s | .5s]</li>
                    </ul>
                </div>
            </div>
            <div class="slider slider--step14">
                <h1 class="slider__title">CSS3 Animation<span class="sub">——To create Animation steps</span></h1>
                <div class="slider__content">
                    <div class="code">
                        <p>1.Animation Function declaration</p>
                        <p>@key-frames shake {      @webkit-key-frams….</p>
                        <p class="i1">step1: style1,</p>
                        <p class="i1">step2: style2,</p>
                        <p class="i1">…</p>
                        <p>}</p>
                        <p>2.Animation Function using</p>
                        <p>node {</p>
                        <p class="i1">animation-name: shake</p>
                        <p class="i1">animation-duration: 1s...</p>
                        <p class="i1">animation-timing-function: ease-in</p>
                        <p class="i1">animation-delay:[1s]</p>
                        <p class="i1">animation-iteration-count:[alternate]</p>
                        <p class="i1">animation-direction:[1 | infinite]</p>
                        <p>}</p>
                    </div>
                </div>
            </div>
            <div class="slider slider--step15">
                <h1 class="slider__title">YUI Animation VS CSS3 Animation</h1>
                <div class="slider__content">
                    <ul class="way-list">
                        <li class="feature">
                            <h3>YUI Anim</h3>
                            <ol class="featrue__list">
                                <li>cross browser</li>
                                <li>life-circle && events</li>
                            </ol>
                        </li>
                        <li class="feature">
                            <h3>CSS3 Animation</h3>
                            <ol class="featrue__list">
                                <li>performance</li>
                                <li>cooler</li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="slider slider--step16">
                <h1 class="slider__title">some funny website...</h1>
                <div class="slider__content">
                    <ul class="website-list">
                        <li>CSS3 Generator:<a href="http://css3generator.com/" target="_blank">http://css3generator.com/</a></li>
                        <li>CSS3 Animation Introduction(by ruanyifeng):<a href="http://www.ruanyifeng.com/blog/2014/02/css_transition_and_animation.html" target="_blank">http://www.ruanyifeng.com/blog/2014/02/css_transition_and_animation.html</a></li>
                        <li>CSS3 Animation toolkit<a href="http://ecd.tencent.com/css3/tools.html" target="_blank">http://ecd.tencent.com/css3/tools.html</a></li>
                        <li>Animate CSS<a href="http://daneden.github.io/animate.css/" target="_blank">http://daneden.github.io/animate.css/</a></li>
                        <li>just google it!</li> 
                    </ul>
                </div>
            </div>
            <div class="slider slider--step17">
                <h1 class="slider__title">Thanks</h1>
                <div class="slider__content">
                    <div class="solar-system">
                        <div class="stars">
                            <div class="star" style="left:30px; top:30px;"></div>
                            <div class="star" style="left:40px; top:20px;"></div>
                            <div class="star" style="right:20px; top:15px;"></div>
                            <div class="star" style="right:10px; top:40px;"></div>
                            <div class="star" style="left:37px; top:220px;"></div>
                            <div class="star" style="right:55px; bottom:20px;"></div>
                            <div class="star" style="left:50px; bottom:34px;"></div>
                            <div class="star" style="left:20px; bottom:70px;"></div>
                            <div class="star" style="left:50px; bottom:34px;"></div>
                            <div class="star" style="left:500px; bottom:10px;"></div>
                            <div class="star" style="left:5px; bottom:340px;"></div>
                            <div class="star" style="right:50px; bottom:270px;"></div>
                            <div class="star" style="right:10px; bottom:123px;"></div>
                            <div class="star" style="left:20px; top:20px;"></div>
                        </div>
                        <div class="planet sun"></div>
                        <div class="pathways">
                            <div class="pathway pathway--earth">
                                <div class="planet earth"></div>
                            </div>
                            <div class="pathway pathway--mercury">
                                <div class="planet mercury"></div>
                            </div>
                            <div class="pathway pathway--venus">
                                <div class="planet venus"></div>
                            </div>
                            <div class="pathway pathway--mars">
                                <div class="planet mars"></div>
                            </div>
                            <div class="pathway pathway--jupiter">
                                <div class="planet jupiter"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
