<!DOCTYPE html>
<html>
    <% include common/head %>
    </head>
    <body class="pg-resume">
        <% include common/header %>
        <div class="body cf">
            <div class="block block--life">
                <h2 class="block__title">经历</h2>
                <dl class="block__content cf">
                    <dt>2013-07~</dt>
                    <dd><a href="http://www.meituan.com" target="_blank" class="tag tag--meituan">美团网</a><span>FE</span></dd>
                    <dt>2012-11~2013-04</dt>
                    <dd><a href="http://www.meituan.com" target="_blank" class="tag tag--meituan">美团网</a><span>Intern</span></dd>
                    <dt>2012-04~2012-10</dt>
                    <dd><a href="http://www.bestsapchina.com/" target="_blank" class="tag tag--SAP">SAP SHANGHAI LABS</a><span>Intern</span></dd>
                    <dt>2011-09~2012-04</dt>
                    <dd><a href="http://grs.zju.edu.cn/index.jsf" target="_blank" class="tag tag--ZJU">ZJU</a><span>Student</span></dd>
                    <dt>2007-09~2011-07</dt>
                    <dd><a href="http://www.csu.edu.cn/" target="_blank" class="tag tag--CSU">CSU</a><span>Student</span></dd>
                </dl>
            </div>
            <div class="block block--hobby">
                <h2 class="block__title">爱好</h2>
                <dl class="block__content">
                    <dt>游戏</dt>
                    <dd>
                        <span class="tag">WOW</span>
                        <span class="tag">LOL</span>
                        <span class="tag">CS</span>
                        <span class="tag">Diablo</span>
                    </dd>
                    <dt>音乐</dt>
                    <dd>
                        <span class="tag">David Tao</span>
                        <span class="tag">張震嶽</span>
                        <span class="tag">周杰倫</span>
                        <span class="tag">蔡健雅</span>
                        <span class="tag">張惠妹</span>
                        <span class="tag">达达乐队</span>
                        <span class="tag">Backstreet Boys</span>
                        <span class="tag">One Republic</span>
                        <span class="tag">Jason Mraz</span>
                    </dd>
                    <dt>漫画</dt>
                    <dd>
                        <span class="tag">One Piece</span>
                        <span class="tag">Hunter Hunter</span>
                        <span class="tag">灌籃高手</span>
                        <span class="tag">鋼之鍊金術師</span>
                        <span class="tag">蟲奉行</span>
                        <span class="tag">一拳超人</span>
                    </dd>
                    <dt>電影</dt>
                    <dd>
                        <span class="tag">阿甘正傳</span>
                        <span class="tag">砰然心動</span>
                        <span class="tag">肖申克的救贖</span>
                        <span class="tag">達拉斯買家俱樂部</span>
                    </dd>
                    <dt>讀書</dt>
                    <dd>
                        <span class="tag">馬丁.伊登</span>
                        <span class="tag">三國演義</span>
                        <span class="tag">熱愛生命</span>
                        <span class="tag">輪賓遜漂流記</span>
                        <span class="tag">海邊的卡夫卡</span>
                        <span class="tag">韓寒</span>
                    </dd>
                </dl>
            </div>
            <div class="block block--program">
                <h2 class="block__title">小项目</h2>
                <ul class="block__content">
                    <li class="program">Draggable<span class="inner">使用Html5源生的draggable实现JqueryUI的sottable和drggable</li>
                        <li class="program">自动订餐脚本<span class="inner">使用launchctl进行任务计划，使用webdriver的ruby binding模拟交互</span></li>
                        <li class="program">webreader<span class="inner">使用chrome extension实现书签管理，开关灯等功能</span></li>
                        <li class="program">自动上传代码脚本<span class="inner">使用nodejs和expect用来管理参数及session交互</span></li>
                </ul>
            </div>
        </div>
    </body>
</html>
