html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* my style */
body {
    margin:0;
    padding: 0;
    font: 14px "effra", Helvetica, Arial, sans-serif;
    background:url(images/bg-shadow.png);
}

a {
    color:#CF492E;
    text-decoration:none;
}

a:hover {
    color:#CF492E;
    text-decoration:none;
}

.cf {
    zoom:1;
}

.cf:after {
    content:'';
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
    visibility:hidden;
}

header {
    margin-bottom:50px;
    border-top:5px solid #CF492E;
    padding:38px 0 10px;
    min-width:980px;
    text-align:center;
    background:#FFF;
    box-shadow:1px 0 20px 1px #333;
}

header .title {
    margin-bottom:30px;
    font-size:40px;
}

header .nav {
    list-style:none;
}

header .nav li {
    display:inline-block;
    padding:0 18px;
    font-size:15px;
}

header .nav li a {
    color:#666;
}

/* footer样式 */
footer {
    border-top:2px solid #CF492E;
    padding:10px 0;
    text-align:center;
}

footer .link-wrapper {
    padding:30px 0;
}

footer .link-wrapper a {
    color:#666;
}
footer .link-wrapper a:hover {
    color:#CF492E;    
}
footer .link-wrapper .extra-link {
    margin-left:10px;
    border-left:1px solid #999;
    padding-left:10px;
    font-size:12px;
    color:#999;
}

/* 内容区域 */
.body {
    margin:0 auto 50px;
    width:980px;
}
.body .content {
    float:left;
}

aside {
    float:right;
    width:200px;
}

aside .about {
    margin-top:60px;
    padding:17px;
    background:url(images/bg-deep.png);
}

aside .about .link:hover {
    opacity:0.4;
}

aside .about .link img {
    width:166px;
    height:166px;
    background:#FFF;
}

.main {
    float:left;
    width:700px;
}

.blog {
    position:relative;
    margin:60px 0 0;
    width:600px;
    min-height:70px;
    background:#FFF;
}

.blog__cont {
    padding:15px 20px 0;
}

.blog__cont h2 {
    font-size:15px;
}

.blog__cont .text {
    font-size:12px;
}

.blog__info {
    position:absolute;
    right:-100px;
    top:0;
    bottom:0;
    width:100px;
}

.blog__info .time,
.blog__info .plus {
    position:absolute;
    top:0;
    bottom:0;
    width:50%;
    text-align:center;
    color:#FFF;
    background:#666;
    opacity:.4;
    transition:all ease-in .3s;
}

.blog__info .plus {
    right:0;
    background:#999;
}    

.blog__info .time:hover,
.blog__info .plus:hover {
    background:#CF492E;
    opacity:1;
}

.blog__info .time span,
.blog__info .plus span {
    position:absolute;
    top:50%;
    left:50%;
    margin:-16px 0 0 -18px;
}

.blog__tag {
    border-top:1px dotted #CCC;
    padding:12px 20px;
}

.blog__tag a {
    color:#CCC;
}

.blog__tag a:hover {
    color:#CF492E;
}

/* 单博客页面 */
.pg-blog .blog {
    padding:20px;
}
.pg-blog .blog__title {
    margin-bottom:30px;
    text-align:center;
    font-size:18px;
    color:#CF492E;
}
.pg-blog .blog__content {
    line-height:30px;
}
.pg-blog .blog__content p {
    text-indent:2em;
}

/* 归档页面 */
.pg-history .content {
    width:700px;
}
.pg-history .filter {
    margin-top:60px;
    padding-bottom:10px;
    border-bottom:1px dotted #999;
    width:100%;
}
.pg-history .filter__item {
    float:left;
    margin-right:20px;
    padding:5px 10px;
    border:1px solid #666;
    border-radius:2px;
    background:#EEE;
    opacity:.8;
    box-shadow:1px 1px 5px 1px #999;
}
.pg-history .filter__item:hover {
    opacity:1;
}
.pg-history .blog-list {
    padding-top:20px;
}
.pg-history .blog {
    position:relative;
    float:left;
    margin-top:0;
    margin-right:15px;
    padding:5px;
    border-radius:3px;
    width:120px;
    height:120px;
    overflow:hidden;
    text-overflow:eclipse;
    cursor:pointer;
}
.pg-history .blog:hover .blog__time{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    line-height:120px;
    text-align:center;
    font-size:24px;
    color:#FFF;
    background:#333;
    opacity:.7;
    z-index:10;
}
