/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* my style */
body {
    margin:0;
    padding:0 0 0 220px;
    font-size:16px;
    font-family:Georgia, 'Times New Roman', Times, 'Songti SC', 'Microsoft YaHei', SimSun, serif;
    font-weight:100;
}

code {
    color:lightcoral;
    background:beige;
}

a {
    color:#CF492E;
    text-decoration:none;
    transition:none;
    -webkit-transition:none;
}

a:hover {
    color:#CF492E;
    text-decoration:none;
    transition:.25s;
    -webkit-transition:.25s;
}

.cf {
    zoom:1;
}

.cf:after {
    content:'';
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
    visibility:hidden;
}

header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding:0;
    width: 200px;
    background: #121212;
    z-index: 100;
}

header .title {
    margin:0 0 20px;
    padding:30px 0 10px;
    text-align:center;
    font-size:20px;
    background:rgba(0, 0, 0, 0.4);
}

header .title .avatar {
    display:block;
    margin:0 auto 10px;
    border-radius:5px;
    text-align:center;
}

header .title a {
    color:#FFF;
}

header .slogan {
    margin-bottom:10px;
    padding-left:15px;
    font-size:12px;
    color:#666;
}

header .nav {
    margin-bottom:10px;
    list-style:none;
}

header .nav li a {
    font-size:12px;
    color:#AAA;
}

header .nav li a:hover {
    color:#000;
}

header .social {
    padding-left:10px;
}

header .social a {
    margin-right:10px;
    font-size:24px;
    color:#AAA;
}
header .social a:hover {
    color:#CF492E;
    transition:color .2s linear;
    -webkit-transition:color .2s linear;
}

/* footer样式 */
footer {
    padding:10px 0;
    text-align:center;
}

footer .link-wrapper {
    padding:30px 0;
}

footer .link-wrapper a {
    font-size:12px;
    color:#666;
}
footer .link-wrapper a:hover {
    color:#CF492E;    
}
footer .link-wrapper .extra-link {
    margin-left:10px;
    border-left:1px solid #999;
    padding-left:10px;
    font-size:12px;
    color:#999;
}

/* 内容区域 */
.body {
    margin:0 auto 50px;
    width:760px;
}
.body .content {
    float:left;
}

aside {
    float:right;
    width:200px;
}

aside .about {
    margin:60px 0 20px;
    padding:17px;
    background:url(images/bg-deep.png);
}

aside .about .link:hover {
    opacity:0.4;
}

aside .about .link img {
    width:166px;
    height:166px;
    background:#FFF;
}

.pg-index .body {
    margin:60px auto 50px;
    width:500px;
}
.pg-index .content {
    position:relative;
}
.pg-index .axis {
    position:absolute;
    top:-10px;
    bottom:0;
    width:0;
    left:-30px;
    border-right:2px solid #AAA;
}
.pg-index .blog {
    border-bottom:2px solid #F7F7F7;
    padding:0 0 50px;
    margin:0 0 50px;
}
.pg-index .blog__time {
    position:relative;
    margin-left:-30px;
}
.pg-index .blog__time:before {
    position:absolute;
    content:"";
    border:2px solid #aaa;
    border-radius:8PX;
    width:8px;
    height:8px;
    z-index:10;
    top:5px;
    left:-2px;
    background:#FFF;
}
.pg-index .blog__time a {
    margin-left:15px;
    padding:3px 5px 3px 10px;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
    border-top-left-radius:200px;
    border-bottom-left-radius:200px;
    font-size:12px;
    color:#948C76;
    background:#F7F3EE;
    transition:margin-left .2s ease,background .2s ease;
    -webkit-transition:margin-left .2s ease,background .2s ease;
}
.pg-index .blog__time a:hover {
    margin-left:10px;
    background:#E7D9BA;
}
.pg-index .blog__cont {
    margin-bottom:20px;
    font-size:14px;
    color:#777;
}
.pg-index .blog__cont .text {
    line-height:2em;
}
.pg-index .blog__info {
    margin-bottom:20px;
}
.pg-index .blog__info,
.pg-index .blog__tag,
.pg-index .blog__info a,
.pg-index .blog__tag a {
    font-size:14px;
    color:#BCBCBC;
}

.blog .title {
    font-size:18px;
    color:#282828;
}
/* 单博客页面 */
.pg-blog {
    background:#FFF;
}
.blog--large {
    margin:0 0 20px;
    border-bottom:2px solid #999;
    padding:20px;
    width:100%;
}
.blog--large .blog__title {
    margin-bottom:30px;
    text-align:center;
    font-size:30px;
    color:#CF492E;
}
.blog--large .blog__content {
    line-height:30px;
}
.blog--large .blog__content p {
    text-indent:2em;
}
.blog--large .blog__info {
    position:static;
    top:auto;
    bottom:auto;
    left:0;
    margin:0 -20px -20px;
    border-top:1px dotted #CCC;
    width:auto;
    padding:20px;
    color:#CCC;
}

.blog--large .blog__info .date,
.blog--large .blog__info .tags {
    margin:0 0 10px;
}
.blog--large .blog__info .tags {
    margin:0;
}
.blog--large .blog__info .tags__item {
    margin-right:10px;
}

/* 归档页面 */
.pg-history .content {
    width:100%;
}
.pg-history .filter {
    margin-top:60px;
    padding:0 0 10px 0;
    border-bottom:1px dotted #999;
    width:100%;
    list-style:none;
}
.pg-history .filter__item {
    float:left;
    margin-right:20px;
    padding:5px 10px;
    border:1px solid #666;
    border-radius:2px;
    background:#EEE;
    opacity:.8;
    box-shadow:1px 1px 5px 1px #999;
    outline:none;
}
.pg-history .filter__item:hover {
    opacity:1;
}
.pg-history .blog-list {
    padding-top:20px;
}
.pg-history .blog {
    position:relative;
    float:left;
    margin-top:0;
    margin-right:15px;
    padding:5px;
    border-radius:3px;
    width:120px;
    height:120px;
    overflow:hidden;
    text-overflow:ellipsis;
    cursor:pointer;
    font-size:12px;
}
.pg-history .blog .blog__title {
    text-align:center;
}
.pg-history .blog:hover .blog__time{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    line-height:120px;
    text-align:center;
    font-size:24px;
    color:#FFF;
    background:#333;
    opacity:.7;
    z-index:10;
}

/* 关于我 */
.pg-about {
    background:#FFF;
}
.pg-about .body {
    min-height:1000px;
    font-size:18px;
    color:#333;
    line-height:1.5;
}
.pg-about .block {
    margin-bottom:20px;
    padding:0 20px;
}

.pg-about .block__title {
    margin-bottom:10px;
    padding:10px 0;
    border-bottom:1px dashed #AAA;
    font-size:20px;
    font-weight:bold;
}

.pg-about .block--life dt,
.pg-about .block--life dd {
    float:left;
    margin-bottom:10px;
}

.pg-about .block--life dt {
    clear:left;
    margin-right:20px;
}

.pg-about .block dd span{
    margin-right:20px;
}

.pg-about .tag {
    margin-right:20px;
    border-radius:3px;
    padding:3px 5px;
    cursor:pointer;
}

.pg-about .tag:hover {
    background:#333;
    color:#FFF;
    transition:all .3s linear;
}

.pg-about .tag--meituan {
    color:#2BB8AA;
}

.pg-about .tag--meituan:hover {
    background:#2BB8AA;
    color:#FFF;
}

.pg-about .tag--SAP {
    color:#0066B3;
}

.pg-about .tag--SAP:hover {
    background:#0066B3;
}

.pg-about .tag--ZJU {
    color:#2980b9;
}

.pg-about .tag--ZJU:hover {
    background:#2980b9;
}

.pg-about .tag--CSU {
    color:#f39c12;
}

.pg-about .tag--CSU:hover {
    background:#f39c12;
}

.pg-about .block--hobby dt {
    margin:0 0 10px 5px;
    border-left:3px solid #16a085;
    border-bottom:1px dotted #DDD;
    padding-left:5px;
}

.pg-about .block--hobby dd {
    margin:10px 0 20px;
}

.pg-about .block--program .program {
    float:left;
    position:relative;
    margin:0 15px 10px 0;
    border:1px solid #D4D4D4;
    border-radius:5px;
    padding:10px;
    width:150px;
    height:150px;
    line-height:150px;
    text-align:center;
    overflow:hidden;
    box-shadow:1px 1px 5px 0 #EDEDED;
    font-size:14px;
}

.pg-about .program .inner {
    position:absolute;
    padding:30px 20px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    line-height:1.5;
    font-size:14px;
    opacity:0;
    color:#FFF;
    background:#CF492E;
}

.pg-about .program .inner:hover {
    opacity:1;
    transition:opacity .3s linear;
}

/* 登陆页 */
.pg-login .login-block {
    margin-top:60px;
    padding:17px;
    font-size:16px;
    background:url(images/bg-deep.png);
}
.pg-login .field {
    padding:10px 30px;
    width:400px;
    background:#FFF;
}

/* 博客编写页面 */
.pg-blog-edit .wrapper {
    margin:0 auto;
    width:980px;
}
.pg-blog-edit .wrapper h1 {
    text-align:center;
}
.pg-blog-edit .form-group--short {
    width:200px;
}
.pg-blog-edit .form-group--summary .form-control {
    height:100px;
}
.pg-blog-edit .form-group--context .form-control {
    height:500px;
}

/* gallery */
.pg-pic .content {
    min-height:400px;
}
.pg-pic .fold {
    float:left;
    margin-right:30px;
    padding:10px 0 12px;
    background-color:#FFF;
    box-shadow:1px 1px 3px 1px #BBB;
}
.pg-pic .fold img {
    display:block;
    padding:0 5px;
}
.pg-pic .fold span {
    display:block;
    height:35px;
    line-height:35px;
    text-align:center;
    font-size:16px;
    color:#CF492E;
    box-shadow:0 3px 0 0 #FFF,0 4px 0 0 #bbb,0 6px 0 0 #FFF,0 7px 0 0 #BBB,0 9px 0 0 #FFF,0 10px 0 0 #BBB;
}
.pg-pic .fold:hover {
    box-shadow:1px 1px 10px 3px #BBB;
}
.pg-pic .pic {
    float:left;
    margin:0 60px 30px 0;
    border:1px solid #AAA;
    border-radius:3px;
    padding:20px 10px 0;
    background-color:#FFF;
    box-shadow:1px 1px 3px 1px #BBB;
}
.pg-pic .pic img {
    display:block;
}

.pg-pic .pic span {
    display:block;
    height:60px;
    line-height:60px;
    text-align:center;
    font-size:18px;
    color:#CF492E;
}

.pg-pic .pic:hover {
    box-shadow:1px 1px 10px 3px #BBB;
}

@-webkit-keyframes show {
    from {
        -webkit-transform:rotate3d(0,1,0,-180deg);
    }

    to {
        -webkit-transform:rotate3d(0,1,0,0deg);
    }
}

@-ms-keyframes show {
    from {
        transform:rotate3d(0,1,0,-180deg);
    }

    to {
        transform:rotate3d(0,1,0,0deg);
    }
}

@-moz-keyframes show {
    from {
        -moz-transform:rotate3d(0,1,0,-180deg);
    }

    to {
        -moz-transform:rotate3d(0,1,0,0deg);
    }
}

@-webkit-keyframes hidden {
    from {
        -webkit-transform:rotate3d(0,1,0,0);
    }

    to {
        -webkit-transform:rotate3d(0,1,0,180deg);
    }
}

@-ms-keyframes hidden {
    from {
        transform:rotate3d(0,1,0,0);
    }

    to {
        transform:rotate3d(0,1,0,180deg);
    }
}

@-moz-keyframes hidden {
    from {
        -moz-transform:rotate3d(0,1,0,0);
    }

    to {
        -moz-transform:rotate3d(0,1,0,180deg);
    }
}

.pg-404 {
    background:#FFF;
}
.pg-404 .jumbotron {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-315px;
    margin-top:-313px;
    background:#FFF;
}
.pg-404 .hinge {
    -webkit-animation:hinge 1.6s ease-in forwards;
    animation:hinge 1.6s .5s ease-in forwards;
}

/*team building 助手 */
.pg-tb {
    background:#FFF;
}

.pg-tb .content {
    position:relative;
    margin:-50px auto 0;
    padding-top:50px;
    width:980px;
}

.pg-tb .editor,
.pg-tb .viewer {
    float:left;
    width:45%;
}

.pg-tb .viewer {
    float:right;
}

.pg-tb .sperator {
    position:absolute;
    top:0;
    bottom:0;
    left:50%;
    border-right:1px solid #999;
    width:0;
}

.pg-tb .viewer .plan {
    margin-bottom:10px;
    border-radius:3px;
    padding: 20px;
    background: #ecf0f1;
}
.pg-tb .viewer .plan-wrapper {
    margin-top:20px;
}
.pg-tb .viewer .url,
.pg-tb .viewer .remark {
    display:block;
    margin-bottom:10px;
    color:#34495e;
}
.pg-tb .viewer .url:hover {
    transition:color .3s ease-in;
    -webkit-transition:color .3s ease-in;
    color:#d35400;
}
.pg-tb .viewer .form-group {
    float:left;
    margin-right:2%;
    width:48%
}
.pg-tb .viewer .tags {
    list-style:none;
    margin:0;
    padding:0;
}
.pg-tb .viewer .tags li {
    float:left;
    margin-right:10px;
    padding:5px 10px;
    line-height:26px;
    background:#27ae60;
    color:#FFF;
    cursor:pointer;
}

.pg-tb .viewer .tags li:before {
    content:'';
}

.pg-track .content {
    margin:0 auto;
    width:980px;
}

.pg-track .content {
    font-family:Verdana;
    color:#2980B9;
}
