body {
    margin:0;
    padding: 0;
    font: 14px "effra", Helvetica, Arial, sans-serif;
    background:url(images/bg-shadow.png);
}

a {
    color:#CF492E;
    transition:all ease-in .3s;
    text-decoration:none;
}

a:hover {
    text-decoration:none;
}

header {
    margin-bottom:50px;
    border-top:5px solid #CF492E;
    padding:38px 0 10px;
    min-width:980px;
    text-align:center;
    background:#FFF;
    box-shadow:1px 0 20px 1px #333;
}

header .title {
    font-size:40px;
}

header .nav {
    list-style:none;
}

header .nav li {
    display:inline-block;
    padding:0 18px;
    font-size:15px;
}

header .nav li a {
    color:#666;
}

.content {
    margin:0 auto;
    width:980px;
}

aside {
    float:right;
    width:200px;
}

aside .about {
    margin-top:60px;
    padding:17px;
    background:url(images/bg-deep.png);
}

aside .about .link:hover {
    opacity:0.4;
}

aside .about .link img {
    width:166px;
    height:166px;
    background:#FFF;
}

.pg-index .blog-list {
    float:left;
    width:700px;
}

.pg-index .blog {
    position:relative;
    margin:60px 0 0;
    width:600px;
    min-height:70px;
    background:#FFF;
}

.pg-index .blog__cont {
    padding:15px 20px 0;
}

.pg-index .blog__cont h2 {
    font-size:15px;
}

.pg-index .blog__cont .text {
    font-size:12px;
}

.pg-index .blog__info {
    position:absolute;
    right:-100px;
    top:0;
    bottom:0;
    width:100px;
}

.pg-index .blog__info .time,
.pg-index .blog__info .plus {
    position:absolute;
    top:0;
    bottom:0;
    width:50%;
    text-align:center;
    color:#FFF;
    background:#666;
    opacity:.4;
    transition:all ease-in .3s;
}

.pg-index .blog__info .plus {
    right:0;
    background:#999;
}    

.pg-index .blog__info .time:hover,
.pg-index .blog__info .plus:hover {
    background:#CF492E;
    opacity:1;
}

.pg-index .blog__info .time span,
.pg-index .blog__info .plus span {
    position:absolute;
    top:50%;
    left:50%;
    margin:-16px 0 0 -18px;
}

.pg-index .blog__tag {
    border-top:1px dotted #CCC;
    padding:12px 20px;
}

.pg-index .blog__tag a {
    color:#CCC;
}

.pg-index .blog__tag a:hover {
    color:#CF492E;
}

