<footer>
    <div class="link-wrapper">
        <a href="https://github.com/linxixuan" target="_blank">Powered by Linxixuan</a>
        <a class="extra-link" href="http://linxixuan.lofter.com/" target="_blank">Style Comes From LOFTER</a>
    </div>
    <script>
        var require = requirejs.config({
            baseUrl: "javascripts/",
            paths: {
                jquery: 'jquery-1.11.1.min',
                bootstrap: 'bootstrap.min',
                chartjs: 'Chart.min'
            },
            shim: {
                bootstrap: ["jquery"],
                tool: ["jquery"]
            },
        });
        requirejs(["base"]);
    </script>
</footer>
