<header class="header--simple">
    <h1 class="title">
        <img class="avatar" src="<%= avatar %>" width="96" height="96"/>
        <a href="/"><%= title %></a>
    </h1>
    <p class="slogan">立志于前端的超级菜鸟就是我</p>
    <ul class="nav">
        <li><a href="/">首页</a></li>
        <li><a href="/history">归档</a></li>
        <li><a href="/pic">照片</a></li>
        <li><a href="/about">关于我</a></li>
        <li><a href="/music">音乐</a></li>
    </ul>
    <div class="social">
        <a class="fa fa-weibo" href="http://weibo.com/yuanjingdi" target="_blank" title="weibo"></a>
        <a class="fa fa-github" href="https://github.com/linxixuan"  target="_blank" title="github"></a>
    </div>
</header>
