<header class="simple-header">
    <h1 class="title">
        <a class="label" href="/"><%= title %></a>
        <a class="avater" href="/"><img src="/images/sp-head.jpg" width="80" height="80" /></a>
    </h1>
    <ul class="nav">
        <li><a href="/">首页</a></li>
        <li><a href="/history">归档</a></li>
        <li><a href="/pic">照片</a></li>
        <li><a href="/about">关于我</a></li>
    </ul>
</header>
