<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="属于前端人自己的博客，关注前端相关技术，注重技术的落地">
    <%if (typeof keywords == 'undefined') {%>
        <%keywords = '';%>
    <%} else {%>
        <%keywords = '，' + keywords;%>
    <%}%>
    <meta name="keywords" content="林夕轩，博客，nodejs，前端，javascript，css<%-keywords%>">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/fa/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/require.min.js"></script>
