<header>
    <h1 class="title"><a href="/"><%= title %></a></h1>
    <ul class="nav">
        <li><a href="/index">首页</a></li>
        <!-- <li><a href="/history">归档</a></li> -->
        <!-- <li><a href="/RSS">订阅</a></li> -->
        <li><a href="/about">关于我</a></li>
    </ul>
</header>
