<!DOCTYPE html>
<html>
    <% keywords = blog.tags; %>
    <% include ../common/head %>
        <link rel='stylesheet' href='/stylesheets/highlight/github.css' />
    </head>
    <body class="pg-blog">
        <% include ../common/header %>
        <div class="body cf">
            <div class="blog--large">
                <h2 class="blog__title"><%- blog.title %></h2>
                <div class="blog__content"><%- blog.content %></div>
                <div class="blog__info">
                    <p class="date"><%= blog.day %></p>
                    <p class="tags">
                    <% blog.tags.forEach(function (tag) {%>
                        <span class="tags__item"><%- tag %></span>
                    <% })%>
                    </p>
                </div>
            </div>
            <div id="disqus_thread"></div>
        </div>
        <% include ../common/footer %>
        <script type="text/javascript">  
            $(function () {
                setTimeout(function () {
                    (function() {
                        var disqus_shortname = 'linxixuan';
                        dsq = document.createElement('script');
                        dsq.type = 'text/javascript';
                        dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();  
                }, 500);
            });
        </script>  
    </body>
</html>
