<!DOCTYPE html>
<html>
    <% include ../common/head %>
    </head>
    <body class="pg-blog-edit">
        <% include ../common/header-simple %>
        <form class="wrapper" method="POST" action="/blog">
            <h1>编写博客</h1>
            <div class="form-group form-group--short">
                <label>url：</label>
                <input class="form-control" name="index" type="text" />
            </div>
            <div class="form-group form-group--short">
                <label>标题：</label>
                <input class="form-control" class="text" type="text" name="title" />
            </div>
            <div class="form-group form-group--short">
                <label>标签：</label>
                <input class="form-control" type="input" name="tags" />
            </div>
            <div class="form-group form-group--summary">
                <label>概要：</label>
                <textarea name="summary" class="form-control J-summary"></textarea>
            </div>
            <div class="form-group form-group--context">
                <label>正文：</label>
                <textarea name="content" class="J-content form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="提交" class="btn btn-default" />
            </div>
        </form>
    </body>
</html>
